body{
    font-family: 'Poppins', sans-serif;

}
.orange-color{
    color: orange;
}
h1{
    font-weight: 800;
}
h2{
    font-weight: 900;
} 

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 40px;
    padding: 10px 20px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 300px;
}
.midle-part{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-top: 50px;
}
#recipies{
    text-align: center; 
}
.recipie-title{
    margin: 20px;
    border-radius: 20px;

}
#first-title{
    width: fit-content;
    border: 10px solid whitesmoke;
    box-shadow: 5px 10px whitesmoke;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
}
#second-title{
    border: 10px solid whitesmoke;
    box-shadow: 10px 10px whitesmoke;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
}
#first-title img{
    width: 500px;
}
#second-title img{
width: 500px;
}
.user-follower{
    display: flex;
    margin-top: 30px;
    border: 10px solid rgba(128, 128, 128, 0.13);
    border-radius: 30px;
}
.line-space{
    margin: 40px;
    padding-left: 200px;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}